header {
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), no-repeat center url('../img/thunderstorm_opt.png');
    background-size:cover;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

#mainNav a {
    color: cyan;
}

#mainNav a:hover {
    color: white;
}

#mainNav .active a {
    font-weight:bold;
    color:white;
}

footer {
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), no-repeat center url('../img/thunderstorm_opt.png');
    background-size:cover;
    border-radius: 0 0 10px 10px;
    text-align:center;
    color: #fff;
    padding: 10px;
}