header {
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), no-repeat center url('../img/thunderstorm_opt.png');
    background-size:cover;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

#mainNav a {
    color: cyan;
}

#mainNav a:hover {
    color: white;
}

#mainNav .active a {
    font-weight:bold;
    color:white;
}

footer {
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), no-repeat center url('../img/thunderstorm_opt.png');
    background-size:cover;
    border-radius: 0 0 10px 10px;
    text-align:center;
    color: #fff;
    padding: 10px;
}

#headacheCalendar {
    font-size:smaller;
}


@media (min-width: 768px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1  {
        width: 100%;
        *width: 100%;
    }
}
@media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
            -ms-flex: 0 0 14.2857%;
            flex: 0 0 14.2857%;
            max-width: 14.2857%;
    }
}
@media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        -ms-flex: 0 0 14.2857%;
        flex: 0 0 14.2857%;
        max-width: 14.2857%;
    }
}